@import url("http://www.fontstatic.com/f=sky-bold,sky");
@import url("http://www.fontstatic.com/f=dubai,dubai-light,dubai-medium,dubai-bold");

body{
        margin:0;
        padding:0;
        overflow: hidden;
        width: 100vw;
        background-color:rgba(85, 199, 120, 0.24);
        font-family: 'Open Sans' !important;
    }
    .nav{
        background-color: rgba(154, 207, 240, 0.05);
        font-family:'Open Sans';
        font-color:#516091;
        
    }

    .ball {
        position: absolute;
        border-radius: 100%;
        opacity: 0.7;
      }
#mobile-menu{
    background-color:rgba(85, 199, 120, 0.08);
    justify-items:center;
    justify-content:center;
    height:auto;
}
/*contact us*/
/* Initial hidden state for the mobile div */
.contact{
    position: relative;
}
.mobile {
    position: relative; /* Required for absolute positioning to work */
    transform: translateY(100vh); /* Move it off-screen to the bottom initially */
    opacity: 0; /* Start with it invisible */
    
    transition: transform 8s ease-out, opacity 5s ease-out; /* Smooth transition */
}

.contact:hover .mobile{
    opacity:1;
    transform: translateY(0vh); /* Move it off-screen to the bottom initially */
}
/* Visible state after animation */
 
.mobile img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    max-width: none; /* Override any potential max-width constraints */
    display: block; /* Ensure the image is a block-level element */
    transition: inherit; /* Apply the same transition effect */
}



      /* Basic style for the select element */
     
      @media (max-width: 1100px) {
       
        body{
            min-height:100vh;
            overflow-x:hidden;
            margin:0;
            padding:0;
        }
        .hero-section{
            margin:auto;
            display:flex;
            justify-items:center;
        }

        .hero{
           
            margin-x:auto;
            
            min-height:100vh;
        }

        .hero-text{
            position:absolute;
            margin-top:5rem;
            width:100vw;
            top:2rem;
            padding-bottom:2erm;
        }

       .Hero-image {
            
            padding-top:20rem;
            display:block;
            width:90vw;
        }
        .lang-switch{
            justify-content:center;
         }

         .contact{
            overflow:hidden;
            position:relative;
            height:100vh;
         }
         .contact-content{
            display:flex;
            flex-direction:column;
            justify-items:start;
            align-items:center;
         }
         .form{
            margin-top:0;
         }
         .mobile{
            opacity:1;
            position:absolute;
            top:30vh;
            margin-top:30vh;
            width:90vw;
            height:50vh;
         }
         .mobile, img{
            width:90vw;
            height:50vh;
         }
    }





    